#familytree {
    width: 100%;
    height: 100%;
    position: relative;
}

[link-id] path {
    stroke: rgb(196, 35, 35);
    stroke-width: 2px;
}

[link-id='[1][3]'] path {
    stroke: #03a539;
}

[link-id='[3][7]'] path {
    stroke: #03a539;
}

[link-id='[2][5]'] path {
    stroke: #03a539;
}

[node-id] rect {
    box-shadow: none;
}