svg {
    /* border: tomato solid 3px; */
    width: 100%;
    height: 250px;
}

#display-all {
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #1c1d24;
    margin-bottom: 41px;
}

svg #shape-all path {
    /* stroke: #f1f1f2;
    stroke-width: 1; */
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

svg #shape-all path.active {
    opacity: 1;
}

svg #shape-all rect {
    /* stroke: #f1f1f2;
    stroke-width: 1; */
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

svg #shape-all rect.active {
    opacity: 1;
}

#display-num {
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #1c1d24;
    margin-bottom: 41px;
}

svg #shape-num path {
    /* stroke: #f1f1f2;
    stroke-width: 1; */
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

svg #shape-num path.active {
    opacity: 1;
}

svg #shape-num rect {
    /* stroke: #f1f1f2;
    stroke-width: 1; */
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

svg #shape-num rect.active {
    opacity: 1;
}

svg>polygon {
    fill: #d7d7d9;
}